@import "includes/settings";
@import "includes/fancybox";
@import "includes/common";
@import "includes/sprite";
@import "includes/swiper";

@include sprites($spritesheet-sprites);

body, html{
	// min-height: 100%;
	// height: 100%;
	// -webkit-overflow-scrolling: touch;
	// look here
}

.wrap-w{
	// position: fixed;
	// top: 0;
	// bottom: 0;
	// left: 0;
	// right: 0;
	// overflow: hidden;
}

.preloaded{
	display: none;
}

body:after {
	content: "";
	display: none;
	width: 10px;
	background: #000;
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
}

.slide-wrap{
	position:absolute;
	// position: relative;
	width:100%;
	height:100%;
	background: rgb(253, 255, 254);

	// &#third{
	// 	z-index: 10;
	// }
}

::-webkit-scrollbar {
	display: none;
}

.wrap{
	display: none;
	position: fixed;
	// position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 1s ease;
	// right: -20px;
	// height: 700px;
	// overflow: auto;

	.content-loaded &{
		opacity: 1;
		transition: opacity 1s ease;
	}
}

.svg{
	// height: 100%;
	// width: 100%;
	// max-width: 100%;
	// max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1000;
	z-index: 10;
	// right: 0;
	// bottom: 0;

	.svg-offset{
		// transform: translate(1px, -50%);
	}

	&.svg-correct{
		overflow: visible;
	}
}

g.men{
	transform: translate3d(15px, 0, 0);
}

g.gasStations{
	transform: translate3d(310px, 0, 0);
}

.svg-test{
	height: auto;
	width: auto;
}

.svg-map{
	@extend .svg;
	// position: relative;
	z-index: 10;
	transform-origin: 161px 104px;
}

.svg-map-zoomed{
	@extend .svg;
	// position: relative;
	// z-index: 10;
	opacity: 0;
}

.t-text{
	position: absolute;
	top: 50%;
	right: 120px;
	transform: translate(0, -50%);
	z-index: 12;

	h1{
		font-style: normal;
		font-family: 'Oswald', sans-serif;
		font-size: 36px;
		line-height: 50px;
		letter-spacing: 0.66px;
		text-transform: uppercase;
		color: #454545;
		font-weight: 100;
		text-rendering: optimizelegibility;
		text-align: right;
	}

	h2{
		font-family: Open Sans, sans-serif;
		font-size: 18px;
		line-height: 28px;
		color: #454545;
		font-weight: 100;
		text-align: right;
	}

	h3{
		font-family: Open Sans, sans-serif;
		font-size: 15px;
		line-height: 22px;
		color: #454545;
		font-weight: 100;
		text-align: center;
	}

	p{
		font-family: Open Sans, sans-serif;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0.6px;
		color: #454545;
		font-weight: 100;
		text-align: right;
	}

	&.t-text_diff{
		top: 15%;
		right: auto;
		left: 50%;
		transform: translate(-50%, 0);
		white-space: nowrap;

		p{
			text-align: center;
		}
	}
}

.first-slide-wrap{

	.t-text{
		z-index: 15;
	}
}

.btnSecondSection{
	border: 2px solid  #000;
	background: #fff;
	border-radius: 2px;
	font-weight: normal;
	color: #000;
	text-transform: none;
}

.second-slide{
	font-weight: 600;
	line-height: 30px;
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

.main-nav{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2000;
}

.skroll-event-item{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.menus{
	position: fixed;
	z-index: 1000;
	top: 20px;
	left: 20px;
	display: none;

	a{
		font-size: 20px;
		line-height: 22px;
		color: #000;

		&.active{
			color: #999;
		}


	}
}

.c-btns{
	// font-size: 25px;
	// line-height: 26px;
	height: 60px;
	width: 60px;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 999;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.4s ease, width 0.3s ease, height 0.3s ease, left 0.3s ease, right 0.3s ease;
	transform-origin: 50% 50%;

	svg{
		width: 100%;
		height: 100%;
		g{
			transition: fill 0.3s ease;
		}
	}

	&.hidden{
		opacity: 0;
		transition: opacity 0.4s ease;
		height: 0;
		width: 0;
		overflow: hidden;
		transition: opacity 0.4s ease, width 0s ease 0.4s, height 0s ease 0.4s;
	}

	&:active{
		svg{
			g{
				// transition: fill 0.3s ease;
				// fill: #fff;
			}
		}
	}

	&:focus{
		svg{
			g{
				transition: fill 0.3s ease;
				fill: #fff;
			}
		}
	}

	&:hover{
		svg{
			g{
				transition: fill 0.3s ease;
				fill: #F7FAF9;
			}
		}
	}

	&.disabled{
		opacity: 0.4;
		cursor: default;
		width: 55px;
    	height: 55px;

		&.nextButton{
			right: 15px;
		}

		&.prevButton{
			left: 15px;
		}
	}
}

.nextButton{
	right: 20px;
}

.prevButton{
	left: 20px;
}

.cloud{
	// -webkit-animation: cloud 4s infinite;
	animation: cloud 6s infinite;
}

.moneyCase{
	// transform-origin: 50% 50%;
}

.eighth{
	transform: translate3d(-340px, 26px, 0);
}

.ninth{
	// opacity: 0;
	transform: translate3d(0, 20px, 0);
}

@media only screen and (max-height: 500px) {
	.ninth{
		 transform: translate3d(0, -20px, 0);
	}
}

.loading-screen{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 11;
	opacity: 1;
	transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
	overflow: hidden;
	background: rgb(253, 255, 254);

	svg{
		width: 100%;
		height: 100%;

		circle{
			transform-origin: 50% 50% 0;
			fill: #F6FAFC;
			stroke: #13a085;
			stroke-width: 2px;
			stroke-dasharray: 40px 172px;
			animation: pending 0.66s infinite cubic-bezier(0.12, 0.12, 0.38, 0.38);

		}

		text{
			opacity: 1;
			transition: opacity 0.2s ease;

			&.hidden{
				opacity: 0;
			}
		}
	}

	.content-loaded &{
		height: 0;
		width: 0;
		opacity: 0;
		transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
	}


}

.secondSectionSlide{


}

.second-section-welcome{
	position: relative;
	height: 100%;
	width: 100%;
	filter: blur(3px);
	background: url('http://res.cloudinary.com/dsibfgci1/image/upload/v1458733614/bg_default_nkw0c5.jpg') 0 0 no-repeat;
	background-size: cover;
}

.second-section-welcome_i{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(253, 255, 254, 0.7);
}

.button-list{
	position: relative;

	&.open{

		.button-list__drop{
			opacity: 1;
			width: 100%;
			height: 100%;
			transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
		}
	}
}

.second-section__choices{
	position: relative;
	width: 100%;
	height: 100%;
	// background: url('../img/bg_default.jpg') 0 0 no-repeat;
	// background-size: cover;

	.button-list{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: 40px;
		text-align: center;
		white-space: nowrap;
		width: 325px;

		@media screen and (max-height: 768px){
			top: 30px;
		}
	}

	.bott-text{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 520px;
		min-height: 250px;
		background: rgba(255, 255, 255, 0.65);
		// -webkit-filter: blur(3px);
		// -moz-filter: blur(3px);
		// -o-filter: blur(3px);
		// -ms-filter: blur(3px);
		// filter: url(#blur);
		// filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='3');
	}
}

.button-list__main{
	position: relative;
	background: #fff;
	height: 61px;
	line-height: 61px;
	border: 2px solid  #4A4A4A;
	border-radius: 3px;
	cursor: pointer;
	text-align: left;
	padding: 0 55px 0 25px;
	font-size: 20px;
	transition: border 0.2s ease;

	&:before{
		position: absolute;
		top: 50%;
		margin-top: -4.5px;
		right: 25px;
		width: 13px;
		height: 9px;
		content:"";
		display: block;
		background: url('../img/arr-bott.svg') 0 0 no-repeat;
	}

	&:hover{
		position: relative;
		background: #F7FAF9;
		height: 61px;
		line-height: 61px;
		border: 2px solid  #4A4A4A;
		border-radius: 3px;
		cursor: pointer;
		text-align: left;
		padding: 0 55px 0 25px;
		font-size: 20px;
		-webkit-transition: border 0.2s ease;
		transition: border 0.2s ease;
	}

	.open &{
		background: #F7FAF9;
		border: 2px solid  #fff;
		transition: border 0.2s ease;
		border-radius: 3px 3px 0 0;
	}
}

.button-list__drop{
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
}

.button-list__drop__item{
	height: 65px;
	background: #fff;

	.btn{
		background-color: transparent;
		border: 0;
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		height: 65px;
		line-height: 65px;
		color: #000;
		border-right: 0;

		&:hover{
			color: #fff;
			background: #26B899;
		}
	}
}

.suburbs_bg{
	background: url('../img/suburb_bg.jpg') 0 0 no-repeat;
}

.retail_bg{
	background: url('../img/retail_bg.jpg') 0 0 no-repeat;
}

.downtown_bg{
	background: url('../img/downtown_bg.jpg') 0 0 no-repeat;
}

.centers_bg{
	background: url('../img/centers.jpg') 0 0 no-repeat;
}


.second-section-welcome-content{
	position: absolute;
	top: 0;
	left: 0;
	// transform: translate(-50%, -50%);
	// max-width: 1100px;
	// padding: 0 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	svg{
		width: 100%;
		height: 100%;
		// padding: 0 0 50px;

		text{
			padding: 0 0 25px;
			font-family: 'Open Sans', sans-serif;
			font-size: 22pt;
			line-height: 50pt;
			font-weight: normal;
			text-align: center;
			text-anchor: middle;
		}
	}
}

.second-section-welcome-content_i{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 500px;
	transform: translate(-50%, -50%);

	p{
		text-align: center;
		padding: 0 0 80px;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		line-height: 27px;
		font-weight: 300;
		text-align: center;
		text-anchor: middle;
	}

	.btn{
		//position: absolute;
		z-index: 20;
		//bottom: 50px;
		//left: 50%;
		//transform: translate(-50%, 0);
		display: block;
		margin: 0 auto;
		width: 170px;
		text-transform: uppercase;

		&:hover{
			background: #000;
			color: #fff;
			border: 2px solid  #fff;
		}
	}
}

.second-section{
	opacity: 0;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 12;
	background: url('http://res.cloudinary.com/dsibfgci1/image/upload/v1458733614/bg_default_nkw0c5.jpg') 0 0 no-repeat;
	background-size: cover;

	&.visible{
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
	}
}

.third-section{
	opacity: 0;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 13;

	&.visible{
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
	}
}

.second-section__item__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	opacity: 0;
	transition: opacity 0.2s ease;

	&:first-child{
		opacity: 1;
		transition: opacity 0.2s ease;
		position: relative;
		top: auto;
		left: auto;
	}

	&.active{
		opacity: 1;
		transition: opacity 0.2s ease;
		z-index: 10;
		max-width: auto;
		max-height: auto;

		&[eq="0"], &[eq="1"], &[eq="2"], &[eq="3"]{
			z-index: 11;
		}
	}

	&.show-titles{
		opacity: 1;
		transition: opacity 0.2s ease;
		z-index: 10;
		max-width: auto;
		max-height: auto;
	}
}

.second-section__item__titles-list__item{

	.t-title{
		position: absolute;
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		height: 0;
		width: 0;
		padding: 0;
		transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;



		// #nn-housing{
		// 	top: 41%;
		// 	left: 26%;
		// }
	}

	&#suburbs-housing{

		.t-title{
			top: 42%;
			right: 64%;

			@media screen and (min-height: 1500px){
				top: 38%;
				right: 64%;
			}
		}
	}

	&#suburbs-walkability{

		.t-title{
			top: 41%;
			right: 47%;

			@media screen and (min-height: 1500px){
				top: 38%;
				right: 47%;
			}
		}
	}

	&#suburbs-emissions{

		.t-title{
			top: 41%;
			right: 47%;

			@media screen and (min-height: 1500px){
				top: 38%;
				right: 47%;
			}
		}
	}

	&#nn-housing{

		.t-title_first{
			top: 18%;
			right: 69%;
		}

		.t-title_second{
			top: 32%;
			right: 59%;
		}

		.t-title_third{
			top: 45%;
			right: 78%;
		}

		.t-title_forth{
			top: 31%;
			right: 27%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 20%;
		// 		left: 25%;
		// 	}

		// 	.t-title_second{
		// 		top: 37%;
		// 		left: 37%;
		// 	}

		// 	.t-title_third{
		// 		top: 42%;
		// 		left: 20%;
		// 	}

		// 	.t-title_forth{
		// 		top: 37%;
		// 		left: 69%;
		// 	}
		// }
	}

	&#nn-walkability{

		.t-title_first{
			bottom: 78.5%;
			right: 76%;
		}

		.t-title_second{
			bottom: 50%;
			right: 51%;
		}

		.t-title_third{
			bottom: 66%;
			right: 32%;
		}

		.t-title_forth{
			top: 47%;
			left: 71%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 20%;
		// 		left: 25%;
		// 	}

		// 	.t-title_second{
		// 		top: 49%;
		// 		left: 47%;
		// 	}

		// 	.t-title_third{
		// 		top: 42%;
		// 		left: 62%;
		// 	}

		// 	.t-title_forth{
		// 		top: 37%;
		// 		left: 69%;
		// 	}
		// }
	}

	&#nn-emissions{

		.t-title_first{
			bottom: 78%;
			right: 71%;
		}

		.t-title_second{
			bottom: 64%;
			right: 59%;
		}

		.t-title_third{
			bottom: 63%;
			right: 28%;
		}

		.t-title_forth{
			top: 47%;
			left: 71%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 21%;
		// 		left: 24%;
		// 	}

		// 	.t-title_second{
		// 		top: 37%;
		// 		left: 41%;
		// 	}

		// 	.t-title_third{
		// 		top: 37%;
		// 		left: 70%;
		// 	}

		// 	.t-title_forth{
		// 		top: 37%;
		// 		left: 69%;
		// 	}
		// }
	}

	&#dt-housing{

		.t-title_first{
			top: 46%;
			right: 59%;
		}

		.t-title_second{
			top: 35%;
			right: 44%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 43%;
		// 		left: 38%;
		// 	}

		// 	.t-title_second{
		// 		top: 35%;
		// 		left: auto;
		// 		right: 43%;
		// 	}
		// }
	}

	&#dt-walkability{

		.t-title_first{
			top: 33%;
			right: 72%;
		}

		.t-title_second{
			top: 35%;
			right: 45%;
		}

		.t-title_third{
			top: 57%;
			right: 47%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 40%;
		// 		left: 30%;
		// 	}

		// 	.t-title_second{
		// 		top: 35%;
		// 		left: auto;
		// 		right: 43%;
		// 	}

		// 	.t-title_third{
		// 		top: 57%;
		// 		left: 53%;
		// 	}
		// }
	}

	&#dt-emissions{

		.t-title_first{
			top: 46%;
			right: 59%;
		}

		.t-title_second{
			top: 35%;
			right: 44%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 43%;
		// 		left: 38%;
		// 	}

		// 	.t-title_second{
		// 		top: 35%;
		// 		left: auto;
		// 		right: 42%;
		// 	}
		// }
	}

	&#corner-housing{

		.t-title_second{
			top: 29%;
			right: 40%;
		}

		.t-title_first{
			top: 21%;
			right: 74%;
		}

		.t-title_third{
			top: 39%;
			right: 56%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_second{
		// 		top: 32%;
		// 		left: auto;
		// 		right: 38%;
		// 	}

		// 	.t-title_first{
		// 		top: 21%;
		// 		left: 22%;
		// 	}

		// 	.t-title_third{
		// 		top: 42%;
		// 		left: auto;
		// 		right: 53%;
		// 	}
		// }
	}

	&#corner-walkability{

		.t-title_first{
			top: 27%;
			right: 66%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_first{
		// 		top: 29%;
		// 		left: 33%;
		// 	}
		// }
	}

	&#corner-emissions{

		.t-title_second{
			top: 27%;
			right: 40%;
		}

		.t-title_first{
			top: 21%;
			right: 74%;
		}

		.t-title_third{
			top: 39%;
			right: 55%;
		}

		// @media screen and (min-height: 1500px){

		// 	.t-title_second{
		// 		top: 32%;
		// 		left: 55%;
		// 	}

		// 	.t-title_first{
		// 		top: 21%;
		// 		left: 22%;
		// 	}

		// 	.t-title_third{
		// 		top: 42%;
		// 		left: 44%;
		// 	}
		// }
	}

	&.active{

		.t-title{
			width: auto;
			height: auto;
			opacity: 1;
			transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
			z-index: 10;
			overflow: visible;

			&.popup-active{
				z-index: 11;
			}
		}
	}

	&.hidden{

		.t-title{
			opacity: 0;
			overflow: hidden;
			height: 0;
			width: 0;
			padding: 0;
			visibility: hidden;
			transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s, visibility 0s ease 0.4s;
		}
	}
}

.second-section__item__bott-list{

}

.second-section__item__bott-list__item{
	z-index: -1;
	overflow: hidden;
	height: 0;
	width: 0;
	padding: 0;
	visibility: hidden;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s, visibility 0s ease 0.4s;

	.r-graph{
		position: fixed;
		bottom: 0;
		right: 0;
		height: 0;
		width: 0;
		overflow: hidden;

		&:before{
			position: absolute;
			content:"";
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(255, 255, 255, 0.5);
			filter: blur(3px);
		}
	}


	&.active{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 520px;
		min-height: 220px;
		z-index: 10;
		opacity: 1;
		height: auto;
		background: rgba(255, 255, 255, 0.65);
		visibility: visible;
		transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s, visibility 0s ease 0s;

		.bott-text{
			height: 100%;
			width: 100%;
		}

		.r-graph{
			height: auto;
			width: 370px;
			padding: 30px;
		}
	}

	&.hidden{
		height: 0;
		width: 0;
		padding: 0;
		visibility: hidden;
		transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s, visibility 0s ease 0s;
	}
}

.t-title{
	position: relative;

	&.t-title_arr-top{

		.t-title__main{
			&:before{
				bottom: auto;
				top: -68px;
				left: auto;
				right: -8px;
				@extend .s-ee_arow2;
			}
		}
	}

	&.t-title_orange{

		&:hover, &.popup-active{

			.t-title__plus{
				background: #F5A623;
			}
		}
	}

	&.t-title_yellow {

		&:hover, &.popup-active{

			.t-title__plus{
				background: #FBDE17;
			}
		}
	}

	&.t-title_red {

		&:hover, &.popup-active{

			.t-title__plus{
				background: #D0021B;
			}
		}
	}

	&.t-title_blue{

		&:hover, &.popup-active{

			.t-title__plus{
				background: #2980B9;
				color: #fff;
			}
		}
	}

	&.t-title_purple{

		&:hover, &.popup-active{

			.t-title__plus{
				background: #884A9D;
				color: #fff;
			}
		}
	}

	&.popup-active{
		z-index: 99999;
	}
}


.t-title__main{
	position: relative;
	height: 46px;
	line-height: 46px;
	background-color: #FAFEFC;
	border-top: 2px solid #4A4A4A;
	border-left: 2px solid #4A4A4A;
	border-bottom: 2px solid #4A4A4A;
	cursor: pointer;
	transition: all 300ms;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 200;
	padding: 0 20px;
	border-radius: 3px 0 0 3px;
	transition: background-color 0.3s ease, color 0.3s ease-in-out;

	&:before{
		display: block;
		position: absolute;
		content: '';
		bottom: -68px;
		right: -8px;
		@extend .s-ee_arow;
	}

	&:hover{

		// .t-title_orange &{
		// 	background: #F5A623;
		// }

		// .t-title_yellow &{
		// 	background: #FBDE17;
		// }

		// color: #fff;

		// #suburbs-housing &{
		// 	background: #D25627;
		// }

		// #suburbs-walkability &{
		// 	background: #3597d3;
		// }

		// #suburbs-emissions &{
		// 	background: #7f6585;
		// }
	}
}

.t-title__plus{
	position: absolute;
	top: 0;
	right: -50px;
	width: 46px;
	height: 46px;
	background-color: #FFFFFF;
	opacity: 1;
	cursor: pointer;
	transition: opacity 0.1s ease 0s;
	border: 2px solid  #000;

	&:before, &:after{
		position: absolute;
		background: #000;
		content: "";
		display: block;
		top: 50%;
		left: 50%;
		border-radius: 5px;
		transform: translate(-50%, -50%);
	}

	&:before{
		width: 18px;
		height: 3px;
	}

	&:after{
		height: 18px;
		width: 3px;
	}

	.popup-active &{
		opacity: 0;
		transition: opacity 0.1s ease 0s;
	}
}

.t-title__popup{
	position: absolute;
	top: 0;
	left: 100%;
	background-color: rgba(255, 255, 255, 0.96);
	padding: 0;
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	transition: opacity 0.4s ease 0s, height 0s ease 0.4s, width 0s ease 0.4s, padding 0s ease 0.4s;

	.popup-active &{
		width: 230px;
		padding: 15px 10px 20px 20px;
		height: auto;
		opacity: 1;
		transition: opacity 0.4s ease 0s, height 0s ease 0s, width 0s ease 0s, padding 0s ease 0s;
	}
}

.t-title__popup__text{
	color: #000;
	font-size: 14px;
	text-align: left;
	line-height: 16px;
	padding: 0 0 20px;
}

.t-title__popup__icons{
	// padding: 0 0 15px;
}


.t-title__popup__icons__row{
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 200;
	padding: 0 0 20px;

	i{
		vertical-align: middle;
		margin: 0 10px 0 0;

		&.icon-red-person{
			margin-left: 10px;
		}
	}

	a{
		text-decoration: underline;
		color: #2980B9;

		&:hover{
			text-decoration: none;
		}
	}
}

.second-section__item{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	opacity: 0;
	background-size: cover;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;

	.button-list__drop__item{

		&:first-child{

			.btn{

				&:hover{
					background: #F58F23;
				}
			}

			&+.button-list__drop__item{

				.btn{

					&:hover{
						background: #2980B9;
					}
				}

				&+.button-list__drop__item{

					.btn{

						&:hover{
							background: #884A9D;
						}
					}
				}
			}
		}
	}

	.buttons-list{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 100px;
		text-align: center;
		white-space: nowrap;
		z-index: 11;

		.btn{
			margin: 0 15px;
		}

		@media screen and (max-height: 768px){
			bottom: 30px;
		}
	}

	&.visible{
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.1s ease, height 0s ease, width 0s ease;
		overflow: visible;

		.second-section__item_i{
			position: relative;

			.buttons-list{
				position: fixed;
			}

			.button-list{
				position: fixed;
				left: 50%;
				transform: translate(-50%, 0);
				top: 40px;
				text-align: center;
				white-space: nowrap;
				width: auto;
				z-index: 12;

				@media screen and (max-height: 768px){
					top: 30px;
				}

				&.hidden{
					display: none;
				}
			}

			&>.bott-text{
				position: fixed;
				bottom: 0;
				left: 0;
				width: 520px;
				min-height: 200px;
				background: rgba(255, 255, 255, 0.65);
			}
		}
	}
}

.i-popup{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	max-width: 880px;
	margin: 0 auto;
	width: 100%;
	z-index: 20;
	transition: top 0.4s ease, transform 0.4s ease;

	&.visible{
		top: 50%;
		transform: translate(-50%, -50%);
		transition: top 0.4s ease, transform 0.4s ease;
	}
}

.i-popup__top{
	background-color: rgba(197, 203, 183, 0.7);
	text-align: center;
	padding: 8px 25px;
	color: #444443;
	position: relative;
	font-family: 'BebasNeueBook';
	font-size: 58px;
	line-height: 60px;
	text-transform: uppercase;
}

.i-popup__main{
	background-color: rgba(174, 178, 162, 0.9);
	text-align: center;
	padding: 25px 0 45px;

	p{
		padding: 0 23px 23px;
		text-align: center;
		font-size: 13pt;
	}
}

.i-popup__close{
	position: absolute;
	z-index: 15;
	top: -20px;
	right: -20px;
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url('../img/close_popup_click.png') 0 0 no-repeat;
}


/*	BigVideo Styles
	You may need to adjust these styles to get this working right in your design.
*/
#big-video-wrap{z-index: 99;overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:0;padding:10px;width:100%;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
#big-video-wrap .vjs-big-play-button{display:none !important;}
#big-video-wrap{
	transition: opacity 0.4s ease, height 0s ease, width 0s ease;
	opacity: 1;
	// height: 0;
	// width: 0;

	&.hidden{
		overflow: hidden;
		opacity: 0;
		height: 0;
		width: 0;
		transition: opacity 0.3s ease, height 0s ease 0.5s, width 0s ease 0.5s;
	}
}

.video-js{
	height: 100%;
	width: 100%;

	&.vjs-waiting{
		background: rgb(253, 255, 254);
		background: none;

		.vjs-tech{
			display: none;
		}

		.vjs-loading-spinner{

			.loading-screen{
				height: 100%;
				width: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.vjs-loading-spinner{
		//background: #F6FAFC;
		//border: 0;
		background-color: transparent;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		border: 0;

		.loading-screen{
			//position: absolute;
			height: 0;
			width: 0;
			opacity: 0;
			visibility: hidden;
		}

		&:before, &:after{
			display: none !important;
		}

		//&:before, &:after{
		//	display: none;
		//	margin: 0;
		//	border: 2px solid rgb(253, 255, 254);
		//}
		//
		//&:after{
		//	display: block;
		//	border: 2px solid #F6FAFC;
		//    background: #F6FAFC;
		//    border-top-color: #13a085;
		//    animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade-new 1.1s linear infinite;
		//}
	}
}

@keyframes vjs-spinner-fade-new {
  0% {
    border-top-color: #13a085; }
  20% {
    border-top-color: #13a085; }
  35% {
    border-top-color: white; }
  60% {
    border-top-color: #13a085; }
  100% {
    border-top-color: #13a085; } }


@keyframes pending {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes cloud {
	0% {
		transform: translate3d(20px, 3px, 0);
	}
	50% {
		transform: translate3d(0, -3px, 0);
	}
	100% {
		transform: translate3d(20px, 3px, 0);
	}
}

.info-text{

	h4{
		font-weight: normal;
		padding-bottom: 20px;
		font-size: 15px;
		line-height: 22px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}

	p{
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 30px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}
}

.bott-text{
	// background: rgba(255, 255, 255, 0.65);
}

.bott-text_i{
	position: relative;

	.info-text{
		// position: absolute;
		// top: 25px;
		// left: 30px;
		// right: 30px;
		padding: 30px 25px 10px;
		// background: rgba(255, 255, 255, 0.65);
	}
}

.bott-text__bott{
	@extend .clearfix;
	position: absolute;
	bottom: 15px;
	left: 25px;
	right: 0;

	.back-to-section{
		position: relative;
		font-size: 16px;
		line-height: 18px;
		text-decoration: underline;
		color: #000;
		padding: 0 0 0 20px;
		float: left;

		&:before{
			position: absolute;
			bottom: 1px;
			display: block;
			content:"";
			left: 0;
			width: 9px;
			height: 14px;
			background: url('../img/arr-left.svg') 0 0 no-repeat;
		}
	}
}

.bott-text__bott__link{
	position: relative;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #000;
	padding: 0 0 0 20px;
	float: left;

	&:before{
		position: absolute;
		bottom: 1px;
		display: block;
		content:"";
		left: 0;
		width: 9px;
		height: 14px;
		background: url('../img/arr-left.svg') 0 0 no-repeat;
	}
}

.next-step{
	position: relative;
	margin: 0 55px 0 0;
	float: right;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #000;

	&:before{
		@extend .s-m-glass;
		position: absolute;
		top: -6px;
		right: -35px;
		content:"";
		display: block;
	}
}

.loadThirdSection{
	position: relative;
	margin: 0 55px 0 0;
	float: right;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #000;

	&:before{
		@extend .s-m-glass;
		position: absolute;
		top: -6px;
		right: -35px;
		content:"";
		display: block;
	}
}

.r-graph{

}

.r-graph__row{
	position: relative;
	z-index: 10;
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: #000;
	margin: 0 0 20px;

	.graph{
		vertical-align: middle;
		margin: 0 10px 0 0;
	}
}

.r-graph__row-center{
	text-align: center;
}

.graph{
	@extend .dib;
	height: 20px;

	&.graph_orange{
		background: #F5A623;
	}

	&.graph_yellow{
		background: #FBDE17;
	}

	&.graph_red{
		background: #D0021B;
	}

	&.graph_blue{
		background: #009FDC;
	}

	&.graph_white{
		background: #fff;
	}

	&.graph_grad{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d579c+0,e9e8ee+100 */
		background: #7d579c; /* Old browsers */
		background: -moz-linear-gradient(left,  #7d579c 0%, #e9e8ee 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #7d579c 0%,#e9e8ee 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #7d579c 0%,#e9e8ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d579c', endColorstr='#e9e8ee',GradientType=1 ); /* IE6-9 */


	}

	&.graph_purple{
		background: #8E599F;
	}
}

.third-section{

}

.third-section__item{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.4s ease;

	&.visible{
		opacity: 1;
		transition: opacity 0.4s ease;
	}

	.third-section__item__step{
		transition: opacity 0.4s ease;

		&.hidden{
			opacity: 0;
			transition: opacity 0.4s ease;
		}
	}

	
}

.third-section__item__img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-size: cover;
	filter: blur(3px);

	&:before{
		content:"";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 11;
		background: rgba(255, 255, 255, 0.8);
	}
}

#container {
  position: relative;
  width: 450px;
  margin: 0 auto;
}
.f-overlay img {
  height: 100%;
  width: 100%;
}
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.fancybox-overlay{
	background: none;
}

.f-overlay{
	position: absolute;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0s ease 0s, visibility 0s ease 0.3s;
	filter: blur(3px);
	background: rgba(255, 255, 255, 0.95);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&.visible{
		visibility: visible;
		opacity: 1;
		transition: opacity 0s ease 0s, visibility 0s ease 0s;
	}
}

.fancybox-opened .fancybox-skin{
	background-color: transparent;
	padding: 0;
	box-shadow: none;
}

.fancybox-inner{
	//padding: 0 80px;
	//box-sizing: border-box;
}

.fancybox-close{
	background: none;
	width: 41px;
	height: 47px;
	top: 12px;
	right: 12px;

	svg{

		rect{
			fill: #000;
		}
	}
}

.popup{
	padding: 0 80px;

	.swiper-slider {
		position: relative;

		.swiper-next{
			right: -80px;
		}

		.swiper-prev{
			left: -80px;
		}

		.swiper-pagination-bullets{
			bottom: 0;
			opacity: 1;
			visibility: visible;
			transition: opacity 0.4s ease, visibility 0s ease 0s;

			.swiper-pagination-bullet{
				height: 18px;
				width: 18px;
				background: #fff;
				border: 1px solid  #000;

				&.swiper-pagination-bullet-active{
					background: #D8D8D8;
					border: 1px solid  #979797;
				}
			}

			&.hidden{
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.4s ease 0s, visibility 0s ease 0.4s;
			}
		}
	}

	.swiper-slider .swiper-container .swiper-slide img{
		max-width: 100%;
		margin: 0 0 25px;
	}
}

.sw-text{

	p{
		font-size: 20px;
		line-height: 24px;
		color: #000;
		padding: 0 0 30px;
		text-align: center;
		font-weight: 300;
	}

	img{
		width: 100%;
		margin: 0 0 30px;
	}
}

.third-section__item__step{
	opacity: 0;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 13;

	&.visible{
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.4s ease 0.3s, height 0s ease 0s, width 0s ease 0s;
	}

	.prev-link, .l-link{
		position: absolute;
		bottom: 40px;
		left: 30px;
		font-size: 16px;
		line-height: 18px;
		text-decoration: underline;
		color: #000;
		padding: 0 0 0 20px;

		&:before{
			position: absolute;
			bottom: 1px;
			display: block;
			content:"";
			left: 0;
			width: 9px;
			height: 14px;
			background: url('../img/arr-left.svg') 0 0 no-repeat;
		}
	}

	.credits{
		position: absolute;
		bottom: 40px;
		right: 30px;
		font-size: 16px;
		line-height: 18px;
		text-decoration: underline;
		color: #000;
		padding: 0 0 0 20px;
	}

	.bott-text{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 520px;
		min-height: 250px;
		background: rgba(255, 255, 255, 0.65);
	}

	&.swiper-box{

		.third-section__item__step_i{
			top: 0;
			left: 0;
			transform: translate(0,0);
			max-width: 100%;
			bottom: 0;
			right: 0;

			.swiper-slides-list{
				display: none;
			}

			.swiper-slider{
				width: 100%;
				height: 100%;

				.swiper-container{
					height: 100%;
					width: 100%;
				}

				.swiper-slide{
					position: relative;
					opacity: 0;

					.swiper-slide_i{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);

						svg{

						}

						.r-text{
							
							&~img{
								margin-top: 40px;
								margin-bottom: -40px;
							}
						}

						.bott-text{
						}
					}

					&.swiper-slide-active{
						opacity: 1;
					}
				}
			}

			.swiper-pagination-bullets{
				bottom: 60px;
				opacity: 1;
				visibility: visible;
				transition: opacity 0.4s ease, visibility 0s ease 0s;

				.swiper-pagination-bullet{
					height: 18px;
					width: 18px;
					background: #fff;
					border: 1px solid  #000;

					&.swiper-pagination-bullet-active{
						background: #D8D8D8;
						border: 1px solid  #979797;
					}

					&:first-child{
						display: none;
					}
				}

				&.hidden{
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.4s ease 0s, visibility 0s ease 0.4s;
				}
			}
		}
	}
}

.third-section__item__step_i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 760px;
}

.offset-valign{
	transform: translate(0, -50%);
}

.r-text{
	color: #000;
	font-size: 20px;
	line-height: 22px;

	h2{
		text-transform: uppercase;
		font-weight: normal;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.6px;
		padding: 0 50px 25px;
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 100;
	}

	p{
		text-align: center;
		color: #000;
		font-size: 18px;
		line-height: 28px;
		font-weight: 200;
		padding: 0 0 40px;
	}

	.main-btn{
		font-size: 20px;
		padding: 0 35px;
	}
}

.r-text_links{

	p{
		a{
			text-decoration: underline;
			font-weight: bold;
			color: #000;

			&:hover{
				text-decoration: none;
			}
		}

		img{
			margin: 0 30px;
			vertical-align: middle;
		}
	}
}

.r-text_diff{

	p{

		a{
			text-decoration: underline;
			font-size: 16px;
			line-height: 18px;
			color: #000;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

.check-box-list{
	padding: 10px 0 0;

	&+.r-text{
		&.hidden{
			visibility: hidden;
			opacity: 0;
		}
	}
}

.check-box{

	input{
		visibility: hidden;

		&:checked+label{

			&:before{
				background: #000;
			}
		}

		&[disabled="disabled"]{
			&+label{
				color: #ccc;

				&:before{
					background: #ccc;
					box-shadow: 0 0 0 1px rgba(204, 204, 204, 1);
				}
			}
		}
	}

	label{
		display: inline-block;
		position: relative;
		font-size: 16px;
		line-height: 18px;
		color: #000;
		font-weight: 100;
		padding: 0 0 0 40px;
		margin: 0 0 25px;
		font-family: 'Open Sans', sans-serif;

		&:before{
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
			border-radius: 50%;
			display: block;
			content:"";
			width: 24px;
			height: 24px;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
			background: #fff;
			border: 1px solid  #fff;
		}
	}
}

.swiper-slider{

	.swiper-container {
		//  width: 300px;
		//  height: 300px;
		width: 800px;
		height: auto;
		//position: absolute;
		//left: 50%;
		//top: 50%;
		//transform: translate(-50%, -50%);

		.swiper-slide{

			img{
				display: block;
				max-width: 100%;
				margin: 0 auto;
			}
		}
	}
	.swiper-slide {
		background-position: center;
		background-size: cover;
	}

	.swiper-next, .swiper-prev{
		z-index: 9999;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		opacity: 1;
		visibility: visible;
		transition: opacity 0.4s ease, visibility 0s ease 0s;
		cursor: pointer;

		&.hidden{
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.4s ease 0s, visibility 0s ease 0.4s;
		}

		&:hover{

			svg{
				g{
					transition: fill 0.3s ease;
					fill: #F7FAF9;
				}
			}
		}
	}

	.swiper-next{
		right: 30px;
	}

	.swiper-prev{
		left: 30px;
	}
}

.menu-btn{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #000;
	padding: 45px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.95);

	.top-line, .bottom-line{
		position: relative;
		width: 35px;
		height: 2px;
		background: #000;
		margin: 0 auto 15px;
		display: block;
		transition: all 0.4s ease;
		top: 0;
	}

	.top-line{
		
		.menu-visible &{
			top: 17px;
			transform: rotate(-45deg);
		}
	}

	.bottom-line{

		.menu-visible &{
			transform: rotate(45deg);
		}
	}
}

.menu-btn__text{
	color: #000;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;

	.default{
		display: block;
		min-width: 55px;

		.menu-visible &{
			display: none;
		}
	}

	.open{
		display: none;
		min-width: 55px;

		.menu-visible &{
			display: block;
		}
	}
}

.main-menu{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 998;
	background: #fff;
	padding: 60px 170px;
	display: none;
	overflow-y: scroll;

	.menu-visible &{
		display: block;
	}
}

.menu-controls{
	margin-bottom: 120px;
}

.menu-controls__item{
	display: inline-block;
	position: relative;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	color: #000;
	font-weight: 300;
	text-align: center;
	margin: 0 20px 0 0;
	cursor: pointer;

	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(0, -50%);
		height: 1px;
		width: 0;
		background: #4A4A4A;
		transition: width 1s ease;
	}

	&.active{

		&:after{
			width: 100%;
		}
	}
}

.menu-content__item__text{
	font-size: 20px;
	line-height: 24px;
	color: #000;
	font-weight: 300;
	padding: 0 0 55px;
}

.menu-content{
	
}

.menu-content__item{
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	transition: opacity 0.4s ease 0s, visibility 0s ease 0.4s, height 0s ease 0s;
	@extend .clearfix;
	margin: 0;
	

	.loadSection{
		float: left;
		border: 1px solid  #000;
		width: 175px;
		height: 175px;
		box-sizing: border-box;
		margin: 0 75px 0 0;
		cursor: pointer;

		img{
			display: block;
			width: 100%;
		}
	}

	&.active{
		opacity: 1;
		visibility: visible;
		height: auto;
		margin: 0 0 25px;
		transition: opacity 0.4s ease 0s, visibility 0s ease 0s, height 0s ease 0s;
	}
}

.about-box{

}

.about-box__text{

	h3{
		font-size: 20px;
		line-height: 22px;
		color: #000;
		font-weight: 300;
		padding: 0 0 30px;
	}

	p{
		font-size: 14px;
		line-height: 18px;
		color: #000;
		padding: 0 0 30px;
	}
}

.about-box-acc{

	&.open{

		&>.about-box-acc__item{
			display: block;
		}

		&>.about-box-acc__title{

			&>.icon-arr-right{
				transition: transform 0.4s ease;
				transform: rotate(90deg);
			}
		}
	}
}

.about-box-acc__title{
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: 600;
	margin: 0 0 25px;
	cursor: pointer;
}

.about-box-acc__item{
	display: none;

	ul{
		list-style: none;

		li{
			display: block;
			padding: 0 0 5px;

			.about-box-acc__title{
				color: #13A085;
				font-size: 14px;
				line-height: 16px;
			}

			.about-box-acc__item{

				p{
					font-size: 14px;
				    line-height: 25px;
				    padding: 0px 20px 20px;
					color: #000;
					font-weight: 200;

					a{
						text-decoration: underline;

						&:hover{
							text-decoration: none;
						}
					}
				}

				h3{
					font-size: 16px;
					line-height: 18px;
					padding: 0 0 0 20px;

					a{
						text-decoration: none;
						color: #000;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.wrap-message{
	font-size: 20px;
	text-align: center;
	padding: 35px 20px;
	line-height: 22px;
	font-weight: 300;
}

.mobile-info{
	display: none;
	overflow-y: scroll;
	height: 100%;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	-webkit-overflow-scrolling: touch;
	bottom: 0;

	@media only screen and (max-width: 767px) {
		display: block;
	}
}

.mobile-info__top{
	height: 100%;
	background: #F8FBFA;
	// display:flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// justify-content: space-around;
	// align-content: space-between;
	// align-items: center;
}

.mobile-info__bottom{
	background: #fff;
	padding: 30px;
}

@media only screen and (max-width: 767px) {
	html, body{
		height: 100%;
		min-height: 100%;
	}
	.menu-btn{
		display: none;
	}

	.wrap-w{
		display: none;
	}

	.f-overlay{
		display: none;
	}

	.hide{
		display: none;
	}
}

.mobile-text{
	padding: 20px 10px;
	text-align: center;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	align-items: center;
	height: 100%;
	box-sizing: border-box;

	h3{
		font-weight: normal;
		text-align: center;
		font-size: 42px;
		line-height: 1.2em;
		color: #231F20;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: 100;
	}

	p{
		color: #434343;
		font-size: 14px;
		line-height: 28px;
		max-width: 340px;
		margin: -80px auto 0;


		@media only screen and (orientation:landscape) {
			margin: -30px auto 0;
		}
	}

	.button-youtube{
		cursor: pointer;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		box-sizing: border-box;
		text-align: center;
		background: #fff;
		border-radius: 5px;
		height: 60px;
		line-height: 60px;
		color: #16A085;
		font-size: 16px;
		border: 2px solid  #16A085;
		padding: 0 60px;
		width: 276px;

		.camera{
			margin: 0 10px 0 0;
		}
	}
}

.info-text{
	padding-bottom: 40px;

	p{
		text-align: left;
		color: #343433;
		font-size: 15px;
		line-height: 1.2em;
		font-family: Open Sans, sans-serif;
		font-weight: 200;

		b{
			font-family: Open Sans, sans-serif;
			font-weight: 700;
		}
	}
}

.support{
	text-align: center;
	padding-bottom: 30px;

	p{
		color: #7D7D7D;
		font-size: 12px;
		line-height: 1.2em;
	}

	img{
		padding: 10px 0;
		margin: 0 15px;
		vertical-align: middle;
	}
}








.hide{
	display: none;
}
