@import "includes/settings";
@import "includes/common";
@import "includes/sprite";

@include sprites($spritesheet-sprites);

body, html{
	// min-height: 100%;
	// height: 100%;
}

.wrap-w{
	// position: fixed;
	// top: 0;
	// bottom: 0;
	// left: 0;
	// right: 0;
	// overflow: hidden;
}

.preloaded{
	display: none;
}

body:after {
	content: "";
	display: none;
	width: 10px;
	background: #000;
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
}

.slide-wrap{
	position:absolute;
	// position: relative;
	width:100%;
	height:100%;
	background: rgb(253, 255, 254);

	// &#third{
	// 	z-index: 10;
	// }
}

::-webkit-scrollbar { 
	display: none; 
}

.wrap{
	display: none;
	position: fixed;
	// position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 1s ease;
	// right: -20px;
	// height: 700px;
	// overflow: auto;

	.content-loaded &{
		opacity: 1;
		transition: opacity 1s ease;
	}
}

.svg{
	// height: 100%;
	// width: 100%;
	// max-width: 100%;
	// max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1000;
	z-index: 10;
	// right: 0;
	// bottom: 0;

	.svg-offset{
		// transform: translate(1px, -50%);
	}
}

g.men{
	transform: translate3d(0, -105px, 0);
}

g.gasStations{
	transform: translate3d(310px, 0, 0);
}

.svg-test{
	height: auto;
	width: auto;
}

.svg-map{
	@extend .svg;
	// position: relative;
	z-index: 10;
	transform-origin: 161px 104px;
}

.svg-map-zoomed{
	@extend .svg;
	// position: relative;
	// z-index: 10;
	opacity: 0;
}

.t-text{
	position: absolute;
	top: 50%;
	right: 100px;
	transform: translate(0, -50%);
	z-index: 12;

	h1{
		font-style: normal;
		font-family: 'Oswald', sans-serif;
		font-size: 36px;
		line-height: 50px;
		letter-spacing: 0.66px;
		text-transform: uppercase;
		color: #454545;
		font-weight: 100;
		text-rendering: optimizelegibility;
	}

	h2{
		font-family: Open Sans, sans-serif;
		font-size: 15px;
		line-height: 22px;
		color: #454545;
		font-weight: 100;
		text-align: right;
	}

	h3{
		font-family: Open Sans, sans-serif;
		font-size: 15px;
		line-height: 22px;
		color: #454545;
		font-weight: 100;
		text-align: center;
	}

	p{
		font-family: Open Sans, sans-serif;
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 0.6px;
		color: #454545;
		font-weight: 100;
		text-align: right;
	}

	&.t-text_diff{
		top: 15%;
		right: auto;
		left: 50%;
		transform: translate(-50%, 0);

		p{
			text-align: center;
		}
	}
}

.main-nav{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2000;
}

.menus{
	position: fixed;
	z-index: 1000;
	top: 20px;
	left: 20px;
	display: none;

	a{
		font-size: 20px;
		line-height: 22px;
		color: #000;

		&.active{
			color: #999;
		}
	}
}

.c-btns{
	font-size: 25px;
	line-height: 26px;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 999;
	cursor: pointer;

	svg{
		.g{
			transition: fill 0.3s ease;
		}
	}

	&:active{
		svg{
			.g{
				// transition: fill 0.3s ease;
				// fill: #fff;
			}
		}
	}

	&:focus{
		svg{
			.g{
				transition: fill 0.3s ease;
				fill: #F6FAFC;
			}
		}
	}
}

.nextButton{
	right: 20px;
}

.prevButton{
	left: 20px;
}

.cloud{
	// -webkit-animation: cloud 4s infinite;
	animation: cloud 6s infinite;
}

.moneyCase{
	// transform-origin: 50% 50%;
}

.eighth{
	transform: translate3d(-340px, 26px, 0);
}

.ninth{
	// opacity: 0;
	transform: translate3d(0, -110px, 0);
}

.loading-screen{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 11;
	opacity: 1;
	transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
	overflow: hidden;
	background: rgb(253, 255, 254);

	svg{
		width: 100%;
		height: 100%;

		circle{
			transform-origin: 50% 50% 0;
			fill: #F6FAFC;
			stroke: #13a085;
			stroke-width: 2px;
			stroke-dasharray: 40px 172px;
			animation: pending 0.66s infinite cubic-bezier(0.12, 0.12, 0.38, 0.38);

		}
	}

	.content-loaded &{
		height: 0;
		width: 0;
		opacity: 0;
		transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
	}
}

.secondSectionSlide{
	background: url('../img/bg_default.jpg') 0 0 no-repeat;
	background-size: cover;
}

.second-section-welcome{
	position: relative;
	background: rgba(253, 255, 254, 0.7);
	height: 100%;
	width: 100%;

	h2{
		
	}

	.btn{
		position: absolute;
		z-index: 20;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, 0);
		display: block;
		margin: 0 auto;
		width: 170px;
	}
}

.button-list{
	position: relative;
	
	&.open{

		.button-list__drop{
			opacity: 1;
			width: 100%;
			height: 100%;
			transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
		}
	}
}

.second-section__choices{
	position: relative;
	width: 100%;
	height: 100%;

	.button-list{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: 40px;
		text-align: center;
		white-space: nowrap;
		width: 325px;

		@media screen and (max-height: 768px){
			top: 30px;
		}
	}

	.bott-text{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 520px;
		min-height: 250px;
		// -webkit-filter: blur(3px);
		// -moz-filter: blur(3px);
		// -o-filter: blur(3px);
		// -ms-filter: blur(3px);
		// filter: url(#blur);
		// filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='3');
	}
}

.button-list__main{
	position: relative;
	background: #fff;
	height: 65px;
	line-height: 65px;
	border: 2px solid  #4A4A4A;
	border-radius: 3px;
	cursor: pointer;
	text-align: left;
	padding: 0 25px;
	font-size: 20px;
	transition: border 0.2s ease;

	&:before{
		position: absolute;
		top: 50%;
		margin-top: -4.5px;
		right: 25px;
		width: 13px;
		height: 9px;
		content:"";
		display: block;
		background: url('../img/arr-bott.svg') 0 0 no-repeat;
	}

	.open &{
		border: 2px solid  #fff;
		transition: border 0.2s ease;
		border-radius: 3px 0 0 3px;
	}
}

.button-list__drop{
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
}

.button-list__drop__item{
	height: 65px;
	background: #fff;

	.btn{
		background-color: transparent;
		border: 0;
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		height: 65px;
		line-height: 65px;
		color: #000;

		&:hover{
			color: #fff;
			background: #26B899;
		}
	}
}

.suburbs_bg{
	background: url('../img/suburb_bg.jpg') 0 0 no-repeat;
}

.retail_bg{
	background: url('../img/retail_bg.jpg') 0 0 no-repeat;
}

.downtown_bg{
	background: url('../img/downtown_bg.jpg') 0 0 no-repeat;
}

.centers_bg{
	background: url('../img/centers.jpg') 0 0 no-repeat;
}


.second-section-welcome_i{
	position: absolute;
	top: 0;
	left: 0;
	// transform: translate(-50%, -50%);
	// max-width: 1100px;
	// padding: 0 20px;
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
	box-sizing: border-box;

	svg{
		width: 100%;
		height: 100%;
		// padding: 0 0 50px;

		text{
			padding: 0 0 25px;
			font-family: 'OpenSansLight';
			font-size: 25pt;
			line-height: 50pt;
			font-weight: normal;
			text-align: center;
			text-anchor: middle;
		}
	}
}

.second-section{
	opacity: 0;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 12;

	&.visible{
		height: 100%;
		width: 100%;		
		opacity: 1;
		transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
	}
}

.third-section{
	opacity: 0;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 13;

	&.visible{
		height: 100%;
		width: 100%;		
		opacity: 1;
		transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
	}
}

.second-section__item__image{
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	display: block;
	opacity: 0;
	transition: opacity 0.2s ease;

	&:first-child{
		opacity: 1;
		transition: opacity 0.2s ease;
		position: relative;
		top: auto;
		left: auto;
	}

	&.active{
		opacity: 1;
		transition: opacity 0.2s ease;
		z-index: 10;
		max-width: auto;
		max-height: auto;
	}

	&.show-titles{
		opacity: 1;
		transition: opacity 0.2s ease;
		z-index: 10;
		max-width: auto;
		max-height: auto;
	}
}

.second-section__item__titles-list__item{

	.t-title{
		position: absolute;
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		height: 0;
		width: 0;
		padding: 0;
		transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;

		

		// #nn-housing{
		// 	top: 41%;
		// 	left: 26%;
		// }
	}

	&#suburbs-housing{

		.t-title{
			top: 41%;
			left: 26%;
		}
	}

	&#suburbs-walkability{

		.t-title{
			top: 41%;
			left: 26%;
		}
	}

	&#suburbs-emissions{

		.t-title{
			top: 41%;
			left: 26%;
		}
	}

	&#nn-housing{

		.t-title{
			top: 17%;
			left: 37%;
		}

		.t-title_second{
			top: 37%;
			left: 41%;
		}

		.t-title_third{
			top: 57%;
			left: 61%;
		}

		.t-title_forth{
			top: 47%;
			left: 71%;

			.t-title__main{
				
				&:before{
					bottom: auto;
					top: -68px;
					left: auto;
					right: 0;
					@extend .s-ee_arow2;
				}
			}
		}
	}

	&#nn-walkability{

		.t-title{
			top: 27%;
			left: 34%;

			// .t-title__main{

			// 	&:before{
			// 		bottom: auto;
			// 		top: -68px;
			// 		left: auto;
			// 		right: 0;
			// 		@extend .s-ee_arow2;
			// 	}
			// }
		}

		.t-title_second{
			top: 26%;
			left: 46%;
		}

		.t-title_third{
			top: 47%;
			left: 51%;
		}

		.t-title_forth{
			top: 47%;
			left: 71%;

			.t-title__main{

				&:before{
					bottom: auto;
					top: -68px;
					left: auto;
					right: 0;
					@extend .s-ee_arow2;
				}
			}
		}

		.t-title_seventh{
			top: 47%;
			left: 71%;

			.t-title__main{
				
				&:before{
					bottom: auto;
					top: -68px;
					left: auto;
					right: 0;
					@extend .s-ee_arow2;
				}
			}
		}

		.t-title_six{
			top: 57%;
			left: 68%;

			.t-title__main{

				&:before{
					bottom: auto;
					top: -68px;
					left: auto;
					right: 0;
					@extend .s-ee_arow2;
				}
			}
		}

		.t-title_fifth{
			top: 57%;
			left: 61%;

			.t-title__main{

				&:before{
					bottom: auto;
					top: -68px;
					left: auto;
					right: 0;
					@extend .s-ee_arow2;
				}
			}
		}
	}

	&.active{

		.t-title{
			width: auto;
			height: auto;
			opacity: 1;
			transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
			z-index: 10;
			padding-right: 32px;
			overflow: visible;
		}
	}
}

.second-section__item__bott-list{

}

.second-section__item__bott-list__item{
	z-index: -1;
	overflow: hidden;
	height: 0;
	width: 0;
	padding: 0;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;

	&.active{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 520px;
		min-height: 330px;
		z-index: 10;
		opacity: 1;
		transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;

		.bott-text{
			height: 100%;
			width: 100%;
		}
	}
}

.t-title{
	position: relative;
}

.t-title__main{
	position: relative;
	height: 30px;
	line-height: 30px;
	background-color: #AEB2A3;
	border: 1px solid #444443;
	cursor: pointer;
	transition: all 300ms;
	font-family: 'OpenSansLight';
	font-size: 15pt;
	text-transform: uppercase;
	padding: 0 5px;
	transition: background-color 0.3s ease, color 0.3s ease-in-out;

	&:before{
		display: block;
		position: absolute;
		content: '';
		bottom: -68px;
		left: -2px;
		@extend .s-ee_arow;
	}

	&:hover{
		color: #fff;

		#suburbs-housing &{
			background: #D25627;
		}

		#suburbs-walkability &{
			background: #3597d3;
		}

		#suburbs-emissions &{
			background: #7f6585;
		}
	}
}

.t-title__plus{
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
	transition: opacity 0.1s ease 0s;

	&:before, &:after{
		position: absolute;
		background: #fff;
		content: "";
		display: block;
		top: 50%;
		left: 50%;
	}

	&:before{
		width: 14px;
		height: 4px;
		margin: -2px 0 0 -7px;
	}

	&:after{
		height: 14px;
		width: 4px;
		margin: -7px 0 0 -2px;
	}

	.popup-active &{
		opacity: 0;
		transition: opacity 0.1s ease 0s;
	}
}

.t-title__popup{
	position: absolute;
	top: 0;
	left: 100%;
	background-color: rgba(0,0,0,0.6);
	padding: 0;
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	transition: opacity 0.4s ease 0s, height 0s ease 0.4s, width 0s ease 0.4s, padding 0s ease 0.4s;

	.popup-active &{
		width: 160px;
		padding: 10px;
		height: auto;
		opacity: 1;
		transition: opacity 0.4s ease 0s, height 0s ease 0s, width 0s ease 0s, padding 0s ease 0s;
	}
}

.t-title__popup__text{
	color: #fff;
	font-size: 18px;
	text-align: left;
	line-height: 26px;
	padding: 0 0 15px;
}

.t-title__popup__icons{
	padding: 0 0 15px;
}

.second-section__item{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	opacity: 0;
	background-size: cover;
	transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;

	.buttons-list{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 100px;
		text-align: center;
		white-space: nowrap;
		z-index: 11;

		.btn{
			margin: 0 15px;
		}

		@media screen and (max-height: 768px){
			bottom: 30px;
		}
	}

	&.visible{
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.1s ease, height 0s ease, width 0s ease;
		overflow: visible;

		.second-section__item_i{
			position: relative;

			.buttons-list{
				position: fixed;
			}

			.button-list{
				position: fixed;
				left: 50%;
				transform: translate(-50%, 0);
				top: 40px;
				text-align: center;
				white-space: nowrap;
				width: 325px;
				z-index: 12;

				@media screen and (max-height: 768px){
					top: 30px;
				}

				&.hidden{
					display: none;
				}
			}

			&>.bott-text{
				position: fixed;
				bottom: 0;
				left: 0;
				width: 520px;
				min-height: 250px;
			}
		}
	}
}

.i-popup{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	max-width: 880px;
	margin: 0 auto;
	width: 100%;
	z-index: 20;
	transition: top 0.4s ease, transform 0.4s ease;

	&.visible{
		top: 50%;
		transform: translate(-50%, -50%);
		transition: top 0.4s ease, transform 0.4s ease;
	}
}

.i-popup__top{
	background-color: rgba(197, 203, 183, 0.7);
	text-align: center;
	padding: 8px 25px;
	color: #444443;
	position: relative;
	font-family: 'BebasNeueBook';
	font-size: 58px;
	line-height: 60px;
	text-transform: uppercase;
}

.i-popup__main{
	background-color: rgba(174, 178, 162, 0.9);
	text-align: center;
	padding: 25px 0 45px;

	p{
		padding: 0 23px 23px;
		text-align: center;
		font-size: 13pt;
	}
}

.i-popup__close{
	position: absolute;
	z-index: 15;
	top: -20px;
	right: -20px;
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url('../img/close_popup_click.png') 0 0 no-repeat;
}


/*	BigVideo Styles 
	You may need to adjust these styles to get this working right in your design. 
*/
#big-video-wrap{z-index: 99;overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:0;padding:10px;width:100%;background:rgba(0,0,0,.25);
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
#big-video-wrap .vjs-big-play-button{display:none !important;}
#big-video-wrap{
	transition: opacity 0.4s ease, height 0s ease, width 0s ease;
	opacity: 1;
	// height: 0;
	// width: 0;

	&.hidden{
		overflow: hidden;
		opacity: 0;
		height: 0;
		width: 0;
		transition: opacity 0.3s ease, height 0s ease 0.5s, width 0s ease 0.5s;
	}
}

@keyframes pending { 
	0% { 
		transform: rotate(0deg); 
	}
	100% { 
		transform: rotate(359deg); 
	} 
}

@keyframes cloud {
	0% {
		transform: translate3d(20px, 3px, 0);
	}
	50% {
		transform: translate3d(0, -3px, 0);
	}
	100% {
		transform: translate3d(20px, 3px, 0);
	}
}

.info-text{

	h4{
		font-weight: normal;
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 22px;
	}

	p{
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 10px;
	}
}

.bott-text{
	background: rgba(255, 255, 255, 0.5);
	// filter: blur(3px);
}

.bott-text_i{
	position: relative;
	
	.info-text{
		position: absolute;
		top: 25px;
		left: 30px;
		right: 30px;
	}
}

.bott-text__bott{
	@extend .clearfix;
	position: absolute;
	bottom: 30px;
	left: 25px;
	right: 0;
}

.bott-text__bott__link{
	position: relative;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #000;
	padding: 0 0 0 20px;
	float: left;

	&:before{
		position: absolute;
		bottom: 1px;
		display: block;
		content:"";
		left: 0;
		width: 9px;
		height: 14px;
		background: url('../img/arr-left.svg') 0 0 no-repeat;
	}
}

.next-step{
	position: relative;
	margin: 0 55px 0 0;
	float: right;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #000;

	&:before{
		@extend .s-m-glass;
		position: absolute;
		top: -6px;
		right: -35px;
		content:"";
		display: block;
	}
}

















