body {
  /*background: #000;*/
  background: -webkit-linear-gradient(45deg, #ccc, #000);
  background: linear-gradient(45deg, #ccc, #000);
  background: #f00; }

.content-navigation {
  border-color: #3bb;
  color: #299797; }

.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bb; }
