
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #666;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
}

input, select, button, textarea {
	margin: 0;
	font-size: 100%;
	color: #666;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="text"], input[type="password"]{
	&::-ms-clear {
	    display: none;
	}
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}


/* --------------- /reset.css --------------- */

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

body {
	position: relative;
	color: #000;
	text-align: left;
	font: 62.5%/1.2em arial, sans-serif;
	background: #fff;
}

label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

.dib{
	display: inline-block;
}

.btn{
	position: relative;
	z-index: 201;
	height: 54px;
	line-height: 54px;
	padding: 0 25px;
	border-bottom: 4px solid #96988C;
	border-radius: 2px;
	display: inline-block;
	background-color: #444443;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 300ms;
	font-family: 'OpenSansRegular';
	text-align: center;
	
	&:hover{
		background-color: #0E9F84;
		border-bottom-color: #26B899;
	}
}

.btn_green{
	position: relative;
	z-index: 201;
	height: 54px;
	line-height: 54px;
	padding: 0 25px;
	border-bottom: 4px solid #26B899;
	border-radius: 2px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 300ms;
	font-family: 'OpenSansRegular';
	text-align: center;
	background-color: #0E9F84;
}

.icon-orange-house{
	@extend .dib;
	@extend .s-house_label;
}

.icon-orange-person{
	@extend .dib;
	@extend .s-orange_man;
}

.icon-info{
	@extend .dib;
	@extend .s-ico_info;
}

