/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-ee-arow-name: 's-ee_arow';
$s-ee-arow-x: 0px;
$s-ee-arow-y: 31px;
$s-ee-arow-offset-x: 0px;
$s-ee-arow-offset-y: -31px;
$s-ee-arow-width: 14px;
$s-ee-arow-height: 68px;
$s-ee-arow-total-width: 56px;
$s-ee-arow-total-height: 99px;
$s-ee-arow-image: '../img/sprite.png';
$s-ee-arow: (0px, 31px, 0px, -31px, 14px, 68px, 56px, 99px, '../img/sprite.png', 's-ee_arow', );
$s-ee-arow2-name: 's-ee_arow2';
$s-ee-arow2-x: 14px;
$s-ee-arow2-y: 31px;
$s-ee-arow2-offset-x: -14px;
$s-ee-arow2-offset-y: -31px;
$s-ee-arow2-width: 14px;
$s-ee-arow2-height: 68px;
$s-ee-arow2-total-width: 56px;
$s-ee-arow2-total-height: 99px;
$s-ee-arow2-image: '../img/sprite.png';
$s-ee-arow2: (14px, 31px, -14px, -31px, 14px, 68px, 56px, 99px, '../img/sprite.png', 's-ee_arow2', );
$s-house-label-name: 's-house_label';
$s-house-label-x: 31px;
$s-house-label-y: 26px;
$s-house-label-offset-x: -31px;
$s-house-label-offset-y: -26px;
$s-house-label-width: 14px;
$s-house-label-height: 13px;
$s-house-label-total-width: 56px;
$s-house-label-total-height: 99px;
$s-house-label-image: '../img/sprite.png';
$s-house-label: (31px, 26px, -31px, -26px, 14px, 13px, 56px, 99px, '../img/sprite.png', 's-house_label', );
$s-ico-info-name: 's-ico_info';
$s-ico-info-x: 0px;
$s-ico-info-y: 0px;
$s-ico-info-offset-x: 0px;
$s-ico-info-offset-y: 0px;
$s-ico-info-width: 31px;
$s-ico-info-height: 31px;
$s-ico-info-total-width: 56px;
$s-ico-info-total-height: 99px;
$s-ico-info-image: '../img/sprite.png';
$s-ico-info: (0px, 0px, 0px, 0px, 31px, 31px, 56px, 99px, '../img/sprite.png', 's-ico_info', );
$s-m-glass-name: 's-m-glass';
$s-m-glass-x: 31px;
$s-m-glass-y: 0px;
$s-m-glass-offset-x: -31px;
$s-m-glass-offset-y: 0px;
$s-m-glass-width: 25px;
$s-m-glass-height: 26px;
$s-m-glass-total-width: 56px;
$s-m-glass-total-height: 99px;
$s-m-glass-image: '../img/sprite.png';
$s-m-glass: (31px, 0px, -31px, 0px, 25px, 26px, 56px, 99px, '../img/sprite.png', 's-m-glass', );
$s-orange-man-name: 's-orange_man';
$s-orange-man-x: 31px;
$s-orange-man-y: 39px;
$s-orange-man-offset-x: -31px;
$s-orange-man-offset-y: -39px;
$s-orange-man-width: 8px;
$s-orange-man-height: 21px;
$s-orange-man-total-width: 56px;
$s-orange-man-total-height: 99px;
$s-orange-man-image: '../img/sprite.png';
$s-orange-man: (31px, 39px, -31px, -39px, 8px, 21px, 56px, 99px, '../img/sprite.png', 's-orange_man', );
$spritesheet-width: 56px;
$spritesheet-height: 99px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-ee-arow, $s-ee-arow2, $s-house-label, $s-ico-info, $s-m-glass, $s-orange-man, );
$spritesheet: (56px, 99px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
