html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #666; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  color: #666; }

input[type="checkbox"] {
  vertical-align: bottom; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="text"]::-ms-clear, input[type="password"]::-ms-clear {
  display: none; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

/* --------------- /reset.css --------------- */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

body {
  position: relative;
  color: #000;
  text-align: left;
  font: 62.5%/1.2em arial, sans-serif;
  background: #fff; }

label, input[type="button"], input[type="submit"], button {
  cursor: pointer; }

.btn {
  position: relative;
  z-index: 201;
  height: 54px;
  line-height: 54px;
  padding: 0 25px;
  border-bottom: 4px solid #96988C;
  border-radius: 2px;
  display: inline-block;
  background-color: #444443;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-family: 'OpenSansRegular';
  text-align: center; }
  .btn:hover {
    background-color: #0E9F84;
    border-bottom-color: #26B899; }

.btn_green {
  position: relative;
  z-index: 201;
  height: 54px;
  line-height: 54px;
  padding: 0 25px;
  border-bottom: 4px solid #26B899;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-family: 'OpenSansRegular';
  text-align: center;
  background-color: #0E9F84; }

.preloaded {
  display: none; }

body:after {
  content: "";
  display: none;
  width: 10px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%; }

.slide-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e1e9d0; }

::-webkit-scrollbar {
  display: none; }

.wrap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  .content-loaded .wrap {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease; }

.svg, .svg-map, .svg-map-zoomed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000;
  z-index: 10; }

g.men {
  -webkit-transform: translate3d(0, -105px, 0);
  transform: translate3d(0, -105px, 0); }

g.gasStations {
  -webkit-transform: translate3d(310px, 0, 0);
  transform: translate3d(310px, 0, 0); }

.svg-test {
  height: auto;
  width: auto; }

.svg-map {
  z-index: 10;
  -webkit-transform-origin: 161px 104px;
  -ms-transform-origin: 161px 104px;
  transform-origin: 161px 104px; }

.svg-map-zoomed {
  opacity: 0; }

.t-text {
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 12; }
  .t-text h1 {
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: #454545;
    font-weight: 100;
    text-rendering: optimizelegibility; }
  .t-text h2 {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #454545;
    font-weight: 100;
    text-align: right; }
  .t-text h3 {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #454545;
    font-weight: 100;
    text-align: center; }
  .t-text p {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #96978C;
    font-weight: 100;
    text-align: right; }
  .t-text.t-text_diff {
    top: 15%;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    .t-text.t-text_diff p {
      text-align: center; }

.main-nav {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2000; }

.menus {
  position: fixed;
  z-index: 1000;
  top: 20px;
  left: 20px;
  display: none; }
  .menus a {
    font-size: 20px;
    line-height: 22px;
    color: #000; }
    .menus a.active {
      color: #999; }

.c-btns {
  font-size: 25px;
  line-height: 26px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 999;
  cursor: pointer; }

.nextButton {
  right: 20px; }

.prevButton {
  left: 20px; }

.cloud {
  -webkit-animation: cloud 6s infinite;
  animation: cloud 6s infinite; }

.eighth {
  -webkit-transform: translate3d(-340px, 26px, 0);
  transform: translate3d(-340px, 26px, 0); }

.ninth {
  -webkit-transform: translate3d(0, -110px, 0);
  transform: translate3d(0, -110px, 0); }

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  opacity: 1;
  -webkit-transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
  transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
  overflow: hidden;
  background: #E2E8D0; }
  .loading-screen svg {
    width: 100%;
    height: 100%; }
    .loading-screen svg circle {
      -webkit-transform-origin: 50% 50% 0;
      -ms-transform-origin: 50% 50% 0;
      transform-origin: 50% 50% 0;
      fill: #25b89a;
      stroke: #13a085;
      stroke-width: 7px;
      stroke-dasharray: 50px 200px;
      -webkit-animation: pending 0.66s infinite cubic-bezier(0.24, 0.12, 0.36, 0.12);
      animation: pending 0.66s infinite cubic-bezier(0.24, 0.12, 0.36, 0.12); }
  .content-loaded .loading-screen {
    height: 0;
    width: 0;
    opacity: 0;
    -webkit-transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s;
    transition: opacity 1s ease, width 0s ease 1s, height 0s ease 1s; }

.secondSectionSlide {
  background: url("../img/bg_default.jpg") 0 0 no-repeat;
  background-size: cover; }

.second-section-welcome {
  position: relative;
  background: rgba(197, 204, 184, 0.7);
  height: 100%;
  width: 100%; }
  .second-section-welcome .btn {
    position: absolute;
    z-index: 20;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: block;
    margin: 0 auto;
    width: 170px; }

.button-list {
  position: relative; }
  .button-list.open .button-list__drop {
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
    transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s; }

.second-section__choices {
  position: relative;
  width: 100%;
  height: 100%; }
  .second-section__choices .button-list {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 40px;
    text-align: center;
    white-space: nowrap;
    width: 325px; }
    @media screen and (max-height: 768px) {
      .second-section__choices .button-list {
        top: 30px; } }
  .second-section__choices .bott-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 520px;
    min-height: 330px; }

.button-list__main {
  position: relative;
  background: #fff;
  height: 65px;
  line-height: 65px;
  border: 2px solid  #4A4A4A;
  border-radius: 3px;
  cursor: pointer;
  text-align: left;
  padding: 0 25px;
  font-size: 20px;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease; }
  .button-list__main:before {
    position: absolute;
    top: 50%;
    margin-top: -4.5px;
    right: 25px;
    width: 13px;
    height: 9px;
    content: "";
    display: block;
    background: url("../img/arr-bott.svg") 0 0 no-repeat; }
  .open .button-list__main {
    border: 2px solid  #fff;
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease;
    border-radius: 3px 0 0 3px; }

.button-list__drop {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
  transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s; }

.button-list__drop__item {
  height: 65px;
  background: #fff; }
  .button-list__drop__item .btn {
    background-color: transparent;
    border: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 65px;
    line-height: 65px;
    color: #000; }
    .button-list__drop__item .btn:hover {
      color: #fff;
      background: #26B899; }

.suburbs_bg {
  background: url("../img/suburb_bg.jpg") 0 0 no-repeat; }

.retail_bg {
  background: url("../img/retail_bg.jpg") 0 0 no-repeat; }

.downtown_bg {
  background: url("../img/downtown_bg.jpg") 0 0 no-repeat; }

.centers_bg {
  background: url("../img/centers.jpg") 0 0 no-repeat; }

.second-section-welcome_i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  box-sizing: border-box; }
  .second-section-welcome_i svg {
    width: 100%;
    height: 100%; }
    .second-section-welcome_i svg text {
      padding: 0 0 25px;
      font-family: 'OpenSansLight';
      font-size: 25pt;
      line-height: 50pt;
      font-weight: normal;
      text-align: center;
      text-anchor: middle; }

.second-section {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
  transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 12; }
  .second-section.visible {
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
    transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s; }

.second-section__item__image {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  .second-section__item__image:first-child {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    position: relative;
    top: auto;
    left: auto; }
  .second-section__item__image.active {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    z-index: 10;
    max-width: auto;
    max-height: auto; }
  .second-section__item__image.show-titles {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    z-index: 10;
    max-width: auto;
    max-height: auto; }

.second-section__item__titles-list__item {
  position: absolute;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  -webkit-transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
  transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s; }
  .second-section__item__titles-list__item#suburbs-housing {
    top: 41%;
    left: 26%; }
  .second-section__item__titles-list__item.active {
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
    transition: opacity 0.4s ease, height 0s ease 0s, width 0s ease 0s;
    z-index: 10;
    padding-right: 32px;
    overflow: visible; }

.t-title {
  position: relative; }

.t-title__main {
  position: relative;
  height: 30px;
  line-height: 30px;
  background-color: #AEB2A3;
  border: 1px solid #444443;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-family: 'OpenSansLight';
  font-size: 15pt;
  text-transform: uppercase;
  padding: 0 5px; }
  .t-title__main:before {
    display: block;
    position: absolute;
    content: '';
    bottom: -43px;
    left: -2px;
    background: url(../img/ee_arow.png);
    width: 4px;
    height: 43px; }

.t-title__plus {
  position: absolute;
  top: 0;
  right: -32px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.6); }
  .t-title__plus:before, .t-title__plus:after {
    position: absolute;
    background: #fff;
    content: "";
    display: block;
    top: 50%;
    left: 50%; }
  .t-title__plus:before {
    width: 14px;
    height: 4px;
    margin: -2px 0 0 -7px; }
  .t-title__plus:after {
    height: 14px;
    width: 4px;
    margin: -7px 0 0 -2px; }

.second-section__item {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s;
  transition: opacity 0.4s ease, height 0s ease 0.4s, width 0s ease 0.4s; }
  .second-section__item .buttons-list {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 100px;
    text-align: center;
    white-space: nowrap;
    z-index: 11; }
    .second-section__item .buttons-list .btn {
      margin: 0 15px; }
    @media screen and (max-height: 768px) {
      .second-section__item .buttons-list {
        bottom: 30px; } }
  .second-section__item.visible {
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease, height 0s ease, width 0s ease;
    transition: opacity 0.1s ease, height 0s ease, width 0s ease;
    overflow: visible; }
    .second-section__item.visible .second-section__item_i {
      position: relative; }
      .second-section__item.visible .second-section__item_i .buttons-list {
        position: fixed; }
      .second-section__item.visible .second-section__item_i .button-list {
        position: fixed;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 40px;
        text-align: center;
        white-space: nowrap;
        width: 325px;
        z-index: 12; }
        @media screen and (max-height: 768px) {
          .second-section__item.visible .second-section__item_i .button-list {
            top: 30px; } }
    .second-section__item.visible .bott-text {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 520px;
      min-height: 330px; }

.i-popup {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  z-index: 20;
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }
  .i-popup.visible {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
    transition: top 0.4s ease, -webkit-transform 0.4s ease;
    transition: top 0.4s ease, transform 0.4s ease;
    transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.i-popup__top {
  background-color: rgba(197, 203, 183, 0.7);
  text-align: center;
  padding: 8px 25px;
  color: #444443;
  position: relative;
  font-family: 'BebasNeueBook';
  font-size: 58px;
  line-height: 60px;
  text-transform: uppercase; }

.i-popup__main {
  background-color: rgba(174, 178, 162, 0.9);
  text-align: center;
  padding: 25px 0 45px; }
  .i-popup__main p {
    padding: 0 23px 23px;
    text-align: center;
    font-size: 13pt; }

.i-popup__close {
  position: absolute;
  z-index: 15;
  top: -20px;
  right: -20px;
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: url("../img/close_popup_click.png") 0 0 no-repeat; }

/*	BigVideo Styles 
	You may need to adjust these styles to get this working right in your design. 
*/
#big-video-wrap {
  z-index: 99;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#big-video-vid, #big-video-image {
  position: absolute; }

#big-video-control-container {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s; }

#big-video-control {
  width: 100%;
  height: 16px;
  position: relative; }

#big-video-control-middle {
  margin: 0 56px 0 24px; }

#big-video-control-bar {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer; }

#big-video-control-progress {
  position: absolute;
  top: 7px;
  height: 3px;
  width: 0%;
  background: #fff; }

#big-video-control-track {
  position: absolute;
  top: 8px;
  height: 1px;
  width: 100%;
  background: #fff; }

#big-video-control-bound-left {
  left: 0; }

#big-video-control-bound-right {
  right: -1px; }

#big-video-control-track .ui-slider-handle {
  opacity: 0; }

#big-video-control-playhead {
  left: 30%; }

#big-video-control-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url("bigvideo.png"); }

#big-video-control-timer {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 11px; }

#big-video-control-playhead, #big-video-control-bound-left, #big-video-control-bound-right {
  position: absolute;
  top: 0;
  height: 16px;
  width: 1px;
  background: #fff; }

#big-video-control .ui-slider-handle {
  border-left: solid 1px #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px; }

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

#big-video-wrap .vjs-big-play-button {
  display: none !important; }

#big-video-wrap {
  -webkit-transition: opacity 0.4s ease, height 0s ease, width 0s ease;
  transition: opacity 0.4s ease, height 0s ease, width 0s ease;
  opacity: 1; }
  #big-video-wrap.hidden {
    overflow: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    -webkit-transition: opacity 0.3s ease, height 0s ease 0.5s, width 0s ease 0.5s;
    transition: opacity 0.3s ease, height 0s ease 0.5s, width 0s ease 0.5s; }

@-webkit-keyframes pending {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes pending {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate3d(20px, 3px, 0);
    transform: translate3d(20px, 3px, 0); }
  50% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); }
  100% {
    -webkit-transform: translate3d(20px, 3px, 0);
    transform: translate3d(20px, 3px, 0); } }

@keyframes cloud {
  0% {
    -webkit-transform: translate3d(20px, 3px, 0);
    transform: translate3d(20px, 3px, 0); }
  50% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); }
  100% {
    -webkit-transform: translate3d(20px, 3px, 0);
    transform: translate3d(20px, 3px, 0); } }

.info-text h4 {
  font-weight: normal;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 22px; }

.info-text p {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px; }

.bott-text {
  background: rgba(255, 255, 255, 0.5); }

.bott-text_i {
  position: relative; }
  .bott-text_i .info-text {
    position: absolute;
    top: 25px;
    left: 30px;
    right: 30px; }

.bott-text__bott {
  position: absolute;
  bottom: 30px;
  left: 25px;
  right: 0; }
  .bott-text__bott a {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #000;
    padding: 0 0 0 20px; }
    .bott-text__bott a:before {
      position: absolute;
      bottom: 1px;
      display: block;
      content: "";
      left: 0;
      width: 9px;
      height: 14px;
      background: url("../img/arr-left.svg") 0 0 no-repeat; }
